{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>

    {% block head_scripts_additional %}
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
	    <link type="text/css" rel="stylesheet" href="{% static 'css/create_form/style.css' %}" />
        <!--PickaTime CSS-->
        <link rel="stylesheet" href="{% static 'css/create_form/date_time_fields/style.css' %}">
        <!--Intl-Tel-Input CSS-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/create_form/phone_field/style.css' %}"/>
        <script src="{% static 'js/create_form/main.js' %}"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>


    {% endblock %}

</head>

{% block content %}
    <div class="row spacer">
        <div class="booking-form">
            <form  id="myForm" role=form method="post">
            {% csrf_token %}
                <div class="form-group has-feedback">
                    {% bootstrap_field form.first_name %}
                </div>
                <div class="form-group has-feedback">
                    {% bootstrap_field form.last_name %}
                </div>
                <div class="row no-margin">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback">
                            {% bootstrap_field form.date %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-feedback">
                            {% bootstrap_field form.time %}
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-sm-4">
                        <div class="form-group has-feedback">
                            {% bootstrap_field form.phone %}
                        </div>
                    </div>
                    <div class="col-sm-8">
                          <div class="form-group has-feedback">
                              {% bootstrap_field form.route %}
                          </div>
                    </div>
                </div>
                <ul class="list-group">
                    {% for detail in reservation.details.all %}
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Model: {{ detail.kayak.name }}
                              <p class="pull-right">Ilość:
                                <span class="badge badge-primary badge-pill">{{ detail.quantity }}</span>
                              </p>
                          </li>
                    {% endfor %}
                </ul>
                <div class="col-4 offset-2 form-group">
                    <button type="submit" class="btn btn-block btn-primary">Zaaktualizuj</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block body_scripts_additional %}
    <!--Main JS-->
        <script src="{% static 'js/create_form/main.js' %}"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
    <!--PickaTime JS-->
        <script src="{% static 'js/create_form/date_time_fields/picker.js' %}"></script>
        <script src="{% static 'js/create_form/date_time_fields/pl_PL.js' %}"></script>
    <!--Intl-Tel-Input JS-->
        <script src="{% static 'js/create_form/phone_field/intlTelInput-jquery.js' %}"></script>

        <script>
        $(document).on('click', '.add-form-row', function(e){
            e.preventDefault();
            cloneMore('.form-row:last', '{{ kayaks.prefix }}', this);
            setDisabledOption(this);
            return false;
        });
        $(document).on('click', '.remove-form-row', function(e){
            e.preventDefault();
            deleteDisabledOption(this, '{{ kayaks.prefix }}');
            deleteForm('{{ kayaks.prefix }}', $(this));
            return false;
        });
        $(document).ready(function() {
                let selectDate = $('#id_date').val();
                $.ajax({
                    url: "{% url 'reservation:update' object.pk %}",
                    type: 'POST',
                    data: {
                        selectDate: selectDate,
                        csrfmiddlewaretoken: '{{ csrf_token }}',

                    },
                    success: function (data) {
                        const disabledTime = data['exclude_time'];
                        if (disabledTime.length){
                            timePicker.set('enable', true);
                            timePicker.set('disable', disabledTime)
                        }
                        else {
                            timePicker.set('disable', false);
                        }
                    }
                });
                let timeField = $('#id_time').pickatime({
                    // Time limits
                    min: [9,0],
                    max: [12,0],
                    // Time intervals
                    interval: 15,
                    // Editable input
                    editable: false,
                    // Formats
                    format: 'H:i',
                    formatSubmit: 'H:i',
                    formatLabel: '<b>H</b>:i',
                  });
                let timePicker = timeField.pickatime('picker');
                $('#id_date').pickadate({
                    // Disable Date
                    disable: {{ disable_date|safe }},
                    // Date limits
                    min: 0,
                    max: 6,
                    // Formats
                    format: 'yyyy-mm-dd',
                    formatSubmit: 'yyyy-mm-dd',
                    // Dropdown selectors
                    selectMonth: false,
                    selectYear: false,
                    // Editable input
                    editable: false,
                    onSet: function () {
                        let selectDate = $('#id_date').val();
                        $.ajax({
                            url: "{% url 'reservation:update' object.pk %}",
                            type: 'POST',
                            data: {
                                selectDate: selectDate,
                                csrfmiddlewaretoken: '{{ csrf_token }}',

                            },
                            success: function (data) {
                                const disabledTime = data['exclude_time'];
                                if (disabledTime.length){
                                    timePicker.set('enable', true);
                                    timePicker.set('disable', disabledTime)
                                }
                                else {
                                    timePicker.set('disable', false);
                                }
                            }
                        });
                        if ($('#id_time').val()) {
                            $('#id_time').val('');
                        }
                        else {
                            $('#id_time').removeAttr('disabled')
                        }
                        $('#myForm').bootstrapValidator('revalidateField', 'time');
                    }
                });
                $('#id_phone').intlTelInput({
                    onlyCountries: ["al", "ad", "at", "by", "be", "ba", "bg", "hr", "cz", "dk",
                      "ee", "fo", "fi", "fr", "de", "gi", "gr", "va", "hu", "is", "ie", "it", "lv",
                      "li", "lt", "lu", "mk", "mt", "md", "mc", "me", "nl", "no", "pl", "pt", "ro",
                      "ru", "sm", "rs", "sk", "si", "es", "se", "ch", "ua", "gb", "us"],
                    preferredCountries: ['pl', 'gb', 'de'],
                    hiddenInput: 'full_phone',
                    utilsScript: "{% static 'js/create_form/phone_field/utils.js' %}"
                });

                $('#myForm').bootstrapValidator({
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        date: {
                            message: 'Format daty jest nieprawidłowy',
                            validators: {
                                notEmpty: {
                                    message: 'Data jest obowiązkowa'
                                },
                                date: {
                                   format: 'YYYY-MM-DD',
                                   message: 'Format - YYYY-MM-DD'
                                 }
                            }
                        },
                        time: {
                            message: 'Format godziny jest nieprawidłowy',
                            validators: {
                                notEmpty: {
                                    message: 'Godzina jest obowiązkowa'
                                }
                            }
                        },
                        phone: {
                            message: 'Format numeru jest nieprawidłowy',
                            validators: {
                                notEmpty: {
                                    message: 'Telefon jest obowiązkowy'
                                },
                                callback: {
                                    callback: function (value, validator, $field) {
                                        const validNumber = $("#id_phone").intlTelInput("isValidNumber");
                                        if (validNumber || value === '') {
                                            return true
                                        }
                                        if (!validNumber) {
                                            const errorType = $("#id_phone").intlTelInput("getValidationError");
                                            if (value && errorType === 0) {
                                                return {
                                                    valid: true
                                                }
                                            }
                                            if (value && errorType === 2) {
                                                return {
                                                    valid: false,
                                                    message: 'Numer jest za krótki'
                                                }
                                            }
                                            if (value && errorType === 3) {
                                                return {
                                                    valid: false,
                                                    message: 'Numer jest za długi'
                                                }
                                            }
                                            if (value && errorType === 4) {
                                                return {
                                                    valid: false,
                                                    message: 'Format numeru jest nieprawidłowy'
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                })
                $('#id_date').on('change', function(e) {
                   $('#myForm').bootstrapValidator('revalidateField', 'date');
                });
                $('#id_time').on('change', function (e) {
                    $('#myForm').bootstrapValidator('revalidateField', 'time');
                })
        });
        </script>
{% endblock %}