{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

<head>
{% block title %}Lista tras{% endblock %}
</head>


{% block content %}
    <div class="list-group">
        {% for route in object_list %}
             <div class="list-group-item flex-column align-items-start">
                 <div class="col-md col-xs col-sm col-lg">
                     <h2><span style="color: #ff9900;"><strong>{{ route.start }} - {{ route.end }} {{ route.length }} KM</strong></span></h2>
                     <a href="#" class="pop">
                         <img src="{{ route.image.url }}" class="img-responsive pull-right" height="200" width="200" style="border-radius: 3%">
                     </a>
                     <p>{{ route.description }}</p>
                     <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                                <div class="modal-content">
                                      <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <img src="" class="imagepreview img-responsive" style="border-radius: 3%">
                                      </div>
                                </div>
                          </div>
                     </div>
                  </div>
             </div>
        {% endfor %}
    </div>
{% endblock %}

{% block body_scripts_additional %}
    <script>
    $(document).ready(function() {
        $(function() {
		$('.pop').on('click', function() {
			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('#imagemodal').modal('show');
		});
});
    })
    </script>
{% endblock %}

