{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <h1>WanPlac Rezerwacja</h1>
            <p class="lead">WanPlac Rezerwacja to panel, dzięki któremu zabukowanie kajaku stanie się łatwiejsze i szybsze.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Zarejestruj się już dziś!</a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">

              <h4>Formularz tworzenia</h4>
                <p>W łatwy i przejrzysty spobób możemy utworzyć rezerwację na intersujący nasz dzień.</p>

              <h4>Płatność online PayU</h4>
                <p>Rezerwacja możemy opłacić dzięki dostępnej płatności PayU</p>

            <h4>Potwierdzenie mailowe</h4>
            <p>Po wypełnieniu formularzu rezerwacji wysyłamy link potwierdzający zabukowanie, na zatwierdzenie masz 12 godzin.</p>

        </div>

        <div class="col-lg-6">
              <h4>Lista rezerwacji</h4>
                <p>Wyświetla nam informacje odnośnie każdej dokonanej przez nas rezerwacji.</p>

              <h4>Lista kajaków i dostępnych szlaków</h4>
                <p>Podstawowe informacje o dostępnych kajakach i szlakach, które ułatwią nam wybór podczas dokonywania rezerwacji.</p>

              <h4>Pytania i odpowiedzi</h4>
                <p>Na najczęściej zadawane pytania mamy konkretne odpowiedzi.</p>
        </div>
    </div>
{% endblock %}