<div class="header clearfix">
    <nav>
          <ul class="nav nav-pills pull-right" id="myTab" role="tablist">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home-page' %}">Strona Główna</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'reservation:kayak-list' %}">Kajaki</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'reservation:route-list' %}">Trasy</a>
              </li>
{#            <li role="presentation"><a href="#">Pytania i odpowiedzi</a></li>#}
              {% if user.is_authenticated %}
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Rezerwacje <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-item">
                              <a class="nav-link" href="{% url 'reservation:list' %}">Lista</a>
                          </li>
                          <li class="dropdown-item">
                              <a class="nav-link" href="{% url 'reservation:create' %}">Dodaj</a>
                          </li>
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'reservation:logout' %}">Wyloguj się</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'reservation:login' %}">Zaloguj</a>
                  </li>
              {% endif %}
          </ul>
    </nav>
    <h3 class="text-muted">WanPlac</h3>
</div>