<div class="header clearfix">
    <nav>
          <ul class="nav nav-pills pull-right" role="tablist">
            <li role="presentation" class="active"><a href="{% url 'home-page' %}">Strona Główna</a></li>
{#            <li role="presentation"><a href="#">Pytania i odpowiedzi</a></li>#}
              {% if user.is_authenticated %}
                  <li role="presentation"><a href="{% url 'reservation:list' %}">Moje rezerwacje</a></li>
                  <li role="presentation"><a href="{% url 'reservation:create' %}">Nowa rezerwacja</a></li>
                  <li role="presentation"><a href="{% url 'reservation:logout' %}">Wyloguj się</a></li>
              {% else %}
                  <li role="presentation"><a href="{% url 'reservation:login' %}">Zaloguj</a></li>
              {% endif %}
          </ul>
    </nav>
    <h3 class="text-muted">WanPlac</h3>
</div>
